<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Cellulare</th>
      <th scope="col">Citta</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of contactList">
      <th scope="row">-</th>
      <td>{{ item.nome }}</td>
      <td>{{ item.cognome }}</td>
      <td>{{ item.cellulare }}</td>
      <td>{{ item.citta }}</td>
      <td>
        <button
          type="button"
          class="btn btn-danger btn-sm me-2"
          (click)="removeContact(item)"
        >
          <i class="bi bi-trash3"></i>
        </button>
        <button
          type="button"
          class="btn btn-warning btn-sm"
          (click)="infoContact(item)"
        >
          <i class="bi bi-info-circle"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
