<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <!-- <th scope="col">Cellulare</th>
      <th scope="col">Citta</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <!-- <td>3471415348</td>
        <td>Milano</td> -->
      <td>
        <button type="button" class="btn btn-danger btn-sm me-2">X</button>
        <button type="button" class="btn btn-warning btn-sm">D</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <!-- <td>3478514982</td>
      <td>Bologna</td> -->
      <td>
        <button type="button" class="btn btn-danger btn-sm me-2">X</button>
        <button type="button" class="btn btn-warning btn-sm">D</button>
      </td>
    </tr>
  </tbody>
</table>
